[submodule "sympy"]
	path = sympy
	url = https://github.com/sympy/sympy
[submodule "shapely"]
	path = shapely
	url = https://github.com/shapely/shapely
[submodule "happly"]
	path = happly
	url = https://github.com/nmwsharp/happly.git
